{
  "openapi": "3.1.0",
  "info": {
    "title": "ASOF.ai API",
    "description": "AI-powered validation API that verifies whether assumptions, signals, or datasets are still valid as of the current moment. Returns verdicts and evidence without making recommendations.",
    "version": "1.0.0",
    "contact": {
      "name": "ASOF.ai Support",
      "email": "Support@asofai.com",
      "url": "https://asofai.com"
    }
  },
  "servers": [
    {
      "url": "https://asofai.com",
      "description": "Production server"
    },
    {
      "url": "{baseUrl}",
      "description": "Custom deployment",
      "variables": {
        "baseUrl": {
          "default": "http://localhost:5000",
          "description": "Base URL for the API"
        }
      }
    }
  ],
  "paths": {
    "/api/create-payment": {
      "post": {
        "summary": "Create Payment Session",
        "description": "Create a Stripe checkout session to purchase validation credits. Returns a URL to redirect the user to complete payment.",
        "operationId": "createPayment",
        "tags": ["Payments"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tier"],
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": ["lite", "pro", "max"],
                    "description": "Pricing tier - lite ($0.50), pro ($1.00), or max ($2.50)"
                  }
                }
              },
              "examples": {
                "lite": {
                  "value": { "tier": "lite" }
                },
                "pro": {
                  "value": { "tier": "pro" }
                },
                "max": {
                  "value": { "tier": "max" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Stripe checkout URL to redirect user"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid tier specified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Price not found for tier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Failed to create checkout session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/api/verify-payment/{sessionId}": {
      "get": {
        "summary": "Verify Payment Status",
        "description": "Check the payment status of a Stripe checkout session",
        "operationId": "verifyPayment",
        "tags": ["Payments"],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Stripe checkout session ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["paid", "unpaid", "pending"],
                      "description": "Current payment status"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          }
        }
      }
    },
    "/api/run": {
      "post": {
        "summary": "Run Validation",
        "description": "Submit data for as-of validation. Requires a paid Stripe session. Returns a verdict with confidence score and optional evidence based on tier.",
        "operationId": "runValidation",
        "tags": ["Validation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidationRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic validation request",
                  "value": {
                    "agent_id": "my-trading-bot",
                    "payload": {
                      "asof": {
                        "claim": "Market data is still current",
                        "subject": {
                          "id": "aapl-price",
                          "type": "market_data",
                          "label": "AAPL Stock Price"
                        },
                        "freshness": {
                          "max_age_seconds": 300,
                          "last_verified_at": "2026-01-10T12:00:00Z"
                        }
                      }
                    },
                    "sessionId": "cs_live_xxx"
                  }
                },
                "compliance": {
                  "summary": "Compliance validation with context",
                  "value": {
                    "agent_id": "compliance-checker",
                    "payload": {
                      "asof": {
                        "claim": "Regulatory requirement is enforceable",
                        "subject": {
                          "id": "reg-8842",
                          "type": "regulation",
                          "label": "SEC Rule 8842"
                        },
                        "context": {
                          "domain": "finance",
                          "jurisdiction": "US-NY",
                          "risk_tolerance": "low"
                        },
                        "freshness": {
                          "stale_after": "2026-01-15T00:00:00Z",
                          "max_age_seconds": 86400
                        }
                      }
                    },
                    "sessionId": "cs_live_xxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Payment required - session not paid or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalError"
                }
              }
            }
          }
        }
      }
    },
    "/api/signals": {
      "get": {
        "summary": "List Signals",
        "description": "Retrieve history of processed validation signals",
        "operationId": "listSignals",
        "tags": ["Signals"],
        "responses": {
          "200": {
            "description": "List of signals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Signal"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidationRequest": {
        "type": "object",
        "required": ["agent_id", "payload", "sessionId"],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Unique identifier for the AI agent making the request"
          },
          "payload": {
            "type": "object",
            "description": "The data to validate",
            "properties": {
              "asof": {
                "type": "object",
                "properties": {
                  "claim": {
                    "type": "string",
                    "description": "The assertion being validated"
                  },
                  "subject": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "type": { "type": "string" },
                      "label": { "type": "string" }
                    }
                  },
                  "freshness": {
                    "type": "object",
                    "properties": {
                      "stale_after": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "max_age_seconds": {
                        "type": "integer"
                      },
                      "last_verified_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "domain": { "type": "string" },
                      "jurisdiction": { "type": "string" },
                      "risk_tolerance": {
                        "type": "string",
                        "enum": ["low", "medium", "high"]
                      }
                    }
                  },
                  "signals": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "value": {},
                        "weight": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          },
          "sessionId": {
            "type": "string",
            "description": "Stripe checkout session ID (must be paid)"
          }
        }
      },
      "ValidationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "insight": {
                "type": "string",
                "description": "Summary of the validation result"
              },
              "confidence": {
                "type": "number",
                "minimum": 0,
                "maximum": 1,
                "description": "Confidence score (0.87 for Lite, 0.92 for Pro, 0.98 for Max)"
              },
              "evidence": {
                "type": "array",
                "description": "Evidence array (Pro and Max tiers only)",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "value": {},
                    "weight": { "type": "number" }
                  }
                }
              },
              "explanation": {
                "type": "string",
                "description": "Detailed explanation (Pro and Max tiers only)"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Signal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "agentId": {
            "type": "string"
          },
          "payload": {
            "type": "object"
          },
          "insight": {
            "type": "string"
          },
          "confidence": {
            "type": "number"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message describing the validation issue"
          },
          "field": {
            "type": "string",
            "description": "The field that failed validation (optional)"
          }
        },
        "required": ["message"]
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message explaining authorization failure"
          }
        },
        "required": ["message"],
        "example": {
          "message": "Payment required to run automation"
        }
      },
      "NotFoundError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message explaining what was not found"
          }
        },
        "required": ["message"],
        "example": {
          "message": "Session not found"
        }
      },
      "InternalError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Internal server error message"
          }
        },
        "required": ["message"],
        "example": {
          "message": "Failed to create checkout session"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Payments",
      "description": "Payment and checkout operations"
    },
    {
      "name": "Validation",
      "description": "Core validation operations"
    },
    {
      "name": "Signals",
      "description": "Signal history and retrieval"
    }
  ]
}
